{%  include '@Doc/Doc/navbar.html.twig'%}
{# Methode form est réservé, ensuite on lui passe le ou les formulaires passés en paramètres#}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"/>

<h1 class="alert alert-success ">Modifier l'auteur.</h1>

{% include '@Doc/Doc/_doc_authors_form.html.twig' %}